.article{
    min-height: 100vh;
    background-color: black;
}
.article img{
    width: 100%;
    height: 46vh;
    opacity: 0.5;
}
.article h2{
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center;
}
.article .heading{
    position: relative;
}
.article h3{
    color: white;
    margin: 15px 30px !important;
}
.article p{
    color: #e0e0e0;
    margin:15px 30px;
    margin-bottom: 0 !important;
    padding-bottom: 15px;
}