.misc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0 !important;
    
}
.misc h1{
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}